@using news24h.ViewComponents

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - news24h</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/news24h.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Poppins:wght@200;300;500;600;700;800;900&family=Roboto:wght@100&display=swap"
          rel="stylesheet" />
</head>

<body style="background-color:white; min-height: 100vh;overflow-x: hidden;overflow-y: scroll;display:block">
    <header style="display:block">
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
            <div style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;" class="container">
                <div style="display:flex;flex-direction:row;align-items:center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo.svg" /></a>
                    <form action=/search method=get>
                        <input type="text" placeholder="Nhập nội dung tìm kiếm" />
                    </form>
                </div>

                <div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a class="nav-item">@Html.ActionLink("Login", "login", "user", null, new { @class = "nav-link" })</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <button type="button" class="btn dropdown-toggle  dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="index">Admin</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="Profile">Thông tin chung</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="SavedNews">Tin đã lưu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="WatchedNews">Tin đã xem</a>
                                </li>

                                <li class="nav-item">@Html.ActionLink("Đăng xuất", "Logout", "User", null, new { @class = "nav-link",@style="color:var(--primary-color)" })</li>
                            </ul>
                        </div>
                    }
                </div>

            </div>
        </div>
    </header>


    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3">
        @await Component.InvokeAsync(typeof(TopicPartial))
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>


    <footer style="border-top: 2px solid #E5E5E5;box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);border-bottom: 1px solid #e5e5e5;">
        <div class="" style="z-index: 1;display:block;">
            <div style="display:flex;flex-direction:row;justify-content:space-between;padding:30px" class="container ">
                <div class="noi-dung about ">
                    <h2 style="color: darkred;">Về Chúng Tôi</h2>
                    <p>Biết nói gì đây...</p>
                    <ul class="social-icon">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>

                <div class="noi-dung links ">
                    <h2 style="color: darkred;">Đường Dẫn</h2>
                    <ul>
                        <li><a href="/Home">Trang Chủ</a></li>
                        <li><a href="/Home/about">Về Chúng Tôi</a></li>
                        <li><a href="#">Thông Tin Liên Lạc</a></li>
                        <li><a href="#">Dịch Vụ</a></li>
                        <li><a href="#">Điều Kiện Chính Sách</a></li>
                    </ul>
                </div>

                <div class="noi-dung contact ">
                    <h2 style="color: darkred;">Thông Tin Liên Hệ</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker"></i></span>
                            <span>
                                Đường Số 1<br />
                                Quận 1, Thành Phố Hồ Chí Minh<br />
                                Việt Nam
                            </span>
                        </li>
                        <li>
                            <span><i class="fa fa-phone"></i></span>
                            <p>
                                <a href="#">+84 123 456 789</a>
                                <br />
                                <a href="#">+84 987 654 321</a>
                            </p>
                        </li>
                        <li>
                            <span><i class="fa fa-envelope"></i></span>
                            <p><a href="#">diachiemail@gmail.com</a></p>
                        </li>
                        <li>
                            <form class="form">
                                <input type="email" class="form__field" placeholder="Đăng Ký Subscribe Email" />
                                <button type="button" class="btn btn--primary  uppercase">Gửi</button>
                            </form>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>



    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

