@model IEnumerable<news24h.Models.Topic>
<ul style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;list-style:none" class="container">
    @{
        foreach (var item in Model)
        {
            <li style="font-size:15px;color:black">
                
                <a href="/home?topic=@item.TopicName" style="font-size:16px;color:black;font-weight:350">@item.TopicName</a>
            </li>
        }
    }
</ul>

@*@Html.ActionLink(@item.TopicName, "Index", "Home", new { @item.TopicName }, new {@style="font-size:16px;color:black;font-weight:350"})*@